h5 {
  background-color: aquamarine;
}

/* Justificar textos do parágrafos */
p {
  text-align: justify;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: #54add9;
}

.bg-plum {
  background-color: plum;
}

h6 ~ p {
  background-color: beige;
}

#internship {
  display: inline-block; /* fica em linha, mas aceita width/height */
  vertical-align: top; /* alinha as boxes pelo topo */
  width: 200px;
  height: 220px;
  background-color: rgb(247, 195, 127);
  border: green solid;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#subjects {
  display: inline-block; /* fica em linha, mas aceita width/height */
  vertical-align: top; /* alinha as boxes pelo topo */
  width: 200px;
  height: 220px;
  background-color: rgb(166, 211, 241);
  border: blue solid;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#lists {
  text-align: center; /* centraliza as boxes na página */
}

/* por defeito (em mobile, se considerarmos mobile first, a imagem aparece escondida) */
#my-img {
  display: none;
}

/* media query */
/* para prints */
@media print {
  nav {
    display: none;
  }
}

/* para tablets ou superiores */
@media (min-width: 1037px) {
  #my-img {
    display: block;
  }
}

@media (min-width: 800px) {
  .bg-plum {
    background-color: green;
  }
}

@media (min-width: 1800px) {
  .bg-plum {
    background-color: yellow;
  }
}
